.label {
    -fx-background-color: darkorange;
    -fx-font-size: medium;
    -fx-text-fill: aquamarine;
}

.root {
    -fx-background-color: yellow;
    -fx-spacing: 10;
    -fx-padding: 15;
}

.button {
    -fx-border-width: 6;
    -fx-border-style: solid;
    -fx-border-radius: 15;
}